.posts{
    max-width: 500px;
    margin: 20px;
    background:white;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    
}


.post__avatar__title{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar{
    margin-right: 10px;
}

.post__img{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post__text{
    font-weight: normal;
    padding:20px;
}

.post_commentBox{
    display: flex;
    margin-top: 10px;
}


.post_comment{
    padding: 20px;
}

.post__icons{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.post_like_button{
    width: 20px;
    margin-left: 10px;
}


.post__smileyface{
    margin-top: 10px;
}

.post_input{
    flex: 1;
    border: none;
    padding: 15px;
    border-top: 1px solid lightgray;
}

.post_button{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    color: #0095f6;
    background-color: transparent;
    border-top: 1px solid lightgray;
}